/* Roboto */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('/src/fonts/Roboto-Regular.woff2') format('woff2'),
        url('/src/fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto'), local('Roboto-Bold'),
        url('/src/fonts/Roboto-Bold.woff2') format('woff2'),
        url('/src/fonts/Roboto-Bold.woff') format('woff');
}

/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat'), local('Montserrat-Regular'),
        url('/src/fonts/montserrat-v23-latin_cyrillic-regular.woff') format('woff2'),
        url('/src/fonts/montserrat-v23-latin_cyrillic-regular.woff2') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat'), local('Montserrat-Bold'),
        url('/src/fonts/montserrat-v23-latin_cyrillic-700.woff2') format('woff2'),
        url('/src/fonts/montserrat-v23-latin_cyrillic-700.woff') format('woff');
}