._container {
    max-width: $maxWidth;
    width: 100%;

    margin: auto;
    padding: 0 20px;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

html,
body {
    height: 100%;
}

body {
    max-width: 1200px;

    display: flex;
    flex-direction: column;

    margin: auto;
}

a {
    display: inline-block;

    text-decoration: none;
    vertical-align: center;
    color: inherit;

    cursor: pointer;
}

.title {
    font-family: 'Montserrat';
}

.link {
    text-transform: uppercase;

    &:hover {
        color: orange;
    }
}

.button {
    width: 25%;
    min-width: 150px;
    height: 30px;

    display: block;

    margin: auto;
    padding-top: 2px;

    border: 2px solid black;
    background-color: orangered;

    font-family: 'Montserrat';
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;

    &:hover,
    &:active {
        background-color: orange;
    }
}

.social__link {
    width: 50px;
    height: 50px;

    margin: 10px 5px;

    border-radius: 20%;
    background-color: blue;
    background-position: center;
    background-repeat: no-repeat;

    &:nth-of-type(1) {
        background-image: url(/src/img/card/facebook_icon.svg);
    }

    &:nth-of-type(2) {
        background-image: url(/src/img/card/instagram_icon.svg);
    }

    &:nth-of-type(3) {
        background-image: url(/src/img/card/twitter_icon.svg);
    }

    &:nth-of-type(4) {
        background-image: url(/src/img/card/twitter_icon.svg);
    }

    &:hover,
    &:active {
        background-color: orange;
    }
}