body {
    background-color: $back;
}


.header {
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    font-family: 'Montserrat';

    background-color: #fff;

    &__title {
        margin: auto 30px;
    }

    &__nav {
        margin: auto 10px;
    }

    &__menu {
        display: flex;

        &-item {
            margin: auto 20px;
        }
    }
}

.index {
    margin: auto;

    &__top {
        min-height: 250px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;

        background-color: bisque;
    }

    &__top-left {
        margin-left: 80px;
    }

    &__title {
        margin-top: 80px;

        font-size: 48px;
        line-height: 90%;
    }

    &__add {
        margin-left: 40px;
        margin-top: 25px;
    }

    &__add-text {
        font-size: 16px;
        font-style: italic;
    }

    &__top-right {
        margin-left: 40px;
        margin-top: 80px;
        margin-right: 80px;
    }

    &__text {
        font-size: 18px;
        line-height: 24px;
        text-align: justify;
    }

    &__text_major {
        font-weight: bold;
    }

    &__text_minor {
        margin-top: 13px;
    }

    &__bottom {
        display: flex;
        align-items: flex-start;
    }

    font-family: 'Roboto';

    background-color: cornflowerblue;

    &-item {
        margin: 10px 10px;
    }
}

.subjects {
    display: flex;
    flex-direction: column;

    background-color: gray;

    &__title {
        margin: 10px auto;
    }

    &__list {
        margin: 0 50px;

        display: flex;
        flex-direction: column;
    }

    &__item {
        height: 30px;

        margin: 10px 5px;
        padding: 0 10px;

        border: solid black;
        border-radius: 5px;

        font-weight: bold;
        text-align: center;
        vertical-align: center;

        background-color: lightcoral;

        &_major {
            background-color: orangered;
        }
    }

    &__button {
        margin-top: 50px;
    }
}

.cards {
    min-width: 250px;

    background-color: sandybrown;

    &__title {
        margin: 10px 10px;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item {
        background-color: lightgreen;
        margin: 10px;
    }
}

.person-card {
    max-width: 300px;
    min-width: 250px;

    display: flex;
    flex-direction: column;

    &__top {
        display: flex;
        flex-direction: row;

        margin: 5px;
    }

    &__photo {
        width: 90px;
        height: 90px;

        margin-left: 20px;

        background-color: #fff;

        border: 1px solid black;
        border-radius: 25%;
    }

    &__info {
        display: flex;
        flex-direction: column;

        margin: auto;
    }

    &__name,
    &__surname {
        font-weight: bold;
        text-transform: uppercase;
    }

    &__bottom {
        margin: 5px;
    }

    &__links {
        position: relative;

        &:nth-of-type(n) {
            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                top: 10px;
                left: -30px;

                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
            }
        }
    }

    &__social {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    &__button {
        width: inherit;

        margin: 5px 10px;
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    &:nth-child(n) {
        margin: 0 10px;
    }

    &__button {
        max-width: 150px;
    }
}