// Adaptive layout

$maxWidth: 1240px;
$minWidth: 320px;

$md1: 1200px;
$md2: 992px;
$md3: 768px;
$md4: 720px;
$md5: 640px;
$md6: 450px;
$md7: 400px;

// Colors

$back: aliceblue;
$text: black;
$select: aliceblue;

$active: orange;